{% extends 'admins/base.html' %}

{% block content %}
        <main>
        <div class="container-fluid">
                <h1 class="mt-4">Товары</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Товары
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Категория</th>
                                    <th>Описание</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in select_product %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'admins:admins_product' %}" style="color: dodgerblue">{{ product.name}}
                                            </a>
                                        </td>
                                        <td>{{ product.price}}</td>
                                        <td>{{ product.quantity}}</td>
                                        <td>{{ product.category}}</td>
                                        <td>{{ product.description}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#">
                            <button class="btn btn-success">Создать товар</button>
                        </a>
                    </div>
                </div>
            </div>
    </main>
{% endblock %}
